<!DOCTYPE html>
<html lang="en" ng-app = "TodoApp">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="index.css">
</head>

<body ng-controller="TodoCtrl as ctrl">

<div class="container">

    <h1>TODO App</h1>

    <form name="todoForm" novalidate class="form-inline" ng-submit="ctrl.addTodo()" >
        <div class="form-group">
            <label for="task">Task:</label>
            <input type="text" id="task" name="task" required class="form-control" size="30"
                   ng-model="ctrl.newTodo.task">
        </div>
        <div class="form-group">
            <label for="createDate">Due:</label>
            <input id="createDate" type="date" name="createDate" required class="form-control"
                   ng-model="ctrl.newTodo.createDate">
        </div>
        <div class="form-group">
            <label for="dueDate">Due:</label>
            <input id="dueDate" type="date" name="dueDate" required class="form-control"
                   ng-model="ctrl.newTodo.dueDate">
        </div>
        <div class="form-group">
            <label for="priority">Priority:</label>
            <input id="priority" type="number" name="priority" class="form-control" min="1" required
                   ng-model="ctrl.newTodo.priority">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" ng-disabled="todoForm.$invalid">
                <i class="fa fa-plus-square-o"></i>
                Add
            </button>
        </div>

    </form>

    <div class="list-group">
        <ul class="list-group" ng-repeat="t in ctrl.todolist">
            <li class="list-group-item">
                <input type="checkbox" ng-model="t.done">&nbsp;&nbsp;
                  <span class="done-{{t.done}}">
                        <b>{{ t.task }}</b>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Due date: {{ t.dueDate | date}},
                        Priority: {{ t.priority }}
                  </span>
            </li>
        </ul>
    </div>
</div>

</body>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="client-index.js"></script>
<script type="text/javascript" src="service.js"></script>
</html>